.link-button {
    grid-column: 2/3;
    grid-row: 4/5;
}

.api-button {
    height: 40px;
    width: 350px;
    background: black;
    color: white;
    
    font-size: 15px;
}

.api-search-results {
    width: 100%;
    @include flex;
    flex-direction: column;
    flex-flow: wrap;
    height: 100%;
    background: #a8c467;
    align-content: space-between;
    padding-top: 180px;
    font-size: 18px;
}

.fill {
    height: calc(100vh - 160px );
    width: 100%;
}
.fill2 {
    height: 160px;
    width: 100%;
}