@import '../mixins';


.update-top-level {
    @include flex;
    align-items: flex-start;
    flex-direction: row;
    flex-flow: wrap;
    padding-top: 80px;
    background: #8a82ea;
    height: calc(100vh - 160px);
}
.top-level {
    @include flex;
    align-items: flex-start;
    flex-direction: row;
    flex-flow: wrap;
    padding-top: 80px;
    background: #86af77;
    height: calc(100vh - 160px);
}

.title-text {
    font-size: 50px;
    margin-left: 80px;
}

.create-box {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-right: 60px;
    border-top-style: dashed;
    border-top: solid 1px;
    align-items: center;
    width: 75%;
}

.create-inputs {
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    font-size: 20px;
    grid-gap: 25px;
    margin-bottom: 40px;
}

.text-one {
    grid-column: 1 / 2 ;
    grid-row: 1 / 2;
}

.text-two {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.text-three {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.text-four {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.text-five {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.text-six {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.text-input {
    grid-column: 2 / 3 ;
    grid-row: 1 / 2;
}
.text-input-one {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
.text-input-two {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.text-input-three {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.text-input-four {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.text-input-five {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.create-button {
    height: 40px;
    width: 350px;
    background: black;
    color: white;
    grid-column: 2;
    font-size: 15px;
}

.remove-button {
    height: 40px;
    width: 350px;
    background: black;
    color: white;
    grid-column: 3;
    font-size: 15px;    
}