@import '../mixins';

.main-header {
    width: 100%;
    height: 100px;
    @include flex;
    background: blueviolet;
    justify-content: space-between;
    padding: 0 50px;
}

.img-header {
    width: 80px;
}

.logout-button {
    width: 100px;
    height: 30px;
    background: crimson;
    color: black;
}

.navbar {
    width: 100%;
    height: 60px;
    @include flex;
    background: cadetblue;
    justify-content: space-around; 
}

.links {
    text-decoration: none;
    color: black;
}
